{
    "sz_type": "{{sz_type|default('evpn')}}",
    "vni_id": {{vni_id|tojson}},
    "routing_policy_id": {{routing_policie_id|tojson}},
    "label": "{{label}}",
    "vrf_name": "{{label}}",
    "rt_policy": {{rt_policy|default(None)|tojson}},
    "vlan_id": {{vlan_id|tojson}}
}