{
"links":
    [
        {% for item in link_data %}

        {% set lgl = item['link_group_label']|default(item['lag'])|default(item['ifname']) %}
        
        {% if lgl is defined and lgl.startswith('lag') %}
            {% set lm = item['lag_mode']|default('lacp_active') %}
        {% else %}
            {% set lm = item['lag_mode']|default('') %}
        {% endif %}


        {
        "link_group_label": "{{lgl}}",
        {% if lm != '' %}"lag_mode": "{{lm|default('')}}",{% endif %}
        "switch":
            { 
            "system_id": "{{item['switch_id']}}",
            "transformation_id":1,
            "if_name":"{{item['switch_port']}}"
            },
        "system":
            { 
            "system_id": {{item['system_id']|default(None)|tojson}},
            "if_name": {{item['ifname']|default(None)|tojson}}
            }
        } {% if not loop.last %}, {% endif %}
        {% endfor %}

    ]
}
    